header{
    color: white;
    background-color: blue;
    margin 0px 0px 500px 0px
}

header, h1{
    text-align: right;
    padding: 7px 75px 7px 0px;
    font-size: 1.25em;
}


.fiveday-itme{
    background-color: blue;
    color: white;
    margin: 10px;
}

.fiveday-itme, h3{
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 5px;
}

.btn{
    margin: 3px;
}

#todayForcast{
    margin: 10px;
}

#searchbar{
    width: 100%;
}